<div class="container">


	<!-- <video #videoDiv controls crossorigin playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
		</video> -->
  <!-- <video #videoDiv controls playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
	</video> -->
  <video id="plyrID" crossorigin controls playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"  class="js-player">
     <source src="https://lighthouse4life-prod.nyc3.digitaloceanspaces.com/courses/d51f69b2-1d79-47b6-8f0c-073c6117a3b0/lesson/25a2c665-2429-4772-b97a-ef097d4760cc/(REI Strategy) BUILDING A DIVERSIFIED PORTFOLIO-REV-DEC-3.mov" size="576">
			<source src="/assets/video/file_example_MOV_640_800kB.mov" size="720">
			<source src="/assets/video/file_example_MOV_640_800kB.mov" size="1080">

			<!-- Caption files -->
			<track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
					default>
			<track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
			<!-- Fallback for browsers that don't support the <video> element -->
				
			<a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
	</video>
	
</div>
<!-- Plyr resources and browser polyfills are specified in the pen settings -->